@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: var(#{--body-background-default});
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}